<div class="row col-md-9">
<h4>All users:</h4>
<table class="table table-hover table-condensed users" >
  <thead>  
    <tr>
      <th>id</th>
      <th>name</th> 
      <th>e-mail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" (click)="onSelect(user)"
      [class.active]="user === selectedUser">
      <th>{{user.id}}</th>
      <td>{{user.name}}</td> 
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</table>
</div>
<div *ngIf="selectedUser" class="col-md-3">
  <h4>
    Selected user: 
  </h4>
  <div class="well well-lg">
    <p><strong>{{selectedUser.name | uppercase}}</strong></p>
    <p>{{selectedUser.address.street}}, {{selectedUser.address.suite}}</p>
    <p>{{selectedUser.address.city}} {{selectedUser.address.zipcode}}</p>
  </div>
</div>

<app-albumlist *ngIf="selectedUser" [user]="selectedUser"></app-albumlist>
